.portfolio
  .portfolio-space
  .portfolio-header
    .portfolio-header--text
      上林 秀天のポートフォリオサイト
    .portfolio-header--image
      =image_tag "#{"Macbook1"}",class:"macbook"
    .portfolio-header--main
      My portfolio
  .portfolio-check
    #portfolio-check-profile
      PROFILE
    #portfolio-check-skill
      SKILL
    #portfolio-check-portfolio
      PORTFOLIO
    #portfolio-check-contact
      CONTACT
  .portfolio-toppage
    .portfolio-toppage--profile
      #profile-top
        PROFILE
      .profile-pict
        =image_tag "#{"face"}",class:"facepict"
      .portfolio-toppage--profile--area
        Webエンジニア転職活動をしている上林 秀天（うえばやし ひでたか）のポートフォリオサイトです。
      .portfolio-toppage--profile--area
        手に職をつけたいと思って始めたプログラミング学習にハマり、
      .portfolio-toppage--profile--area
        スクールで勉強をしましたが、ITエンジニアとしては完全に未経験者です。
      .portfolio-toppage--profile--area
        自分の適性を測るという意味も込めて、ポートフォリオサイトを作成致しました。
      .portfolio-toppage--profile--area
        現在は仕事をしながら転職活動をしつつ、個人アプリを制作しています。
      .portfolio-toppage--profile--namezone
        名前
      .portfolio-toppage--profile--namezonebtm
        上林 秀天(うえばやしひでたか)
      .portfolio-toppage--profile--namezone
        生年月日
      .portfolio-toppage--profile--namezonebtm
        1991年12月26日
      .portfolio-toppage--profile--namezone
        Github
      .portfolio-toppage--profile--namezonebtm
        %a{href:"https://github.com/delfin378"} https://github.com/delfin378
      .portfolio-toppage--profile--namezone
        Qiita
      .portfolio-toppage--profile--namezonebtm
        %a{href:"https://qiita.com/finix387"} https://qiita.com/finix387
      .portfolio-toppage--profile--namezone
        SNS
      .portfolio-toppage--profile--namezonebtm
        %a{href:"https://twitter.com/finix387"}@finix387
    .portfolio-toppage--skill
      #skill-top
        SKILL
      .portfolio-toppage--skill--namezone
        【言語】
      .portfolio-toppage--skill--namezone
        バックエンド
      .portfolio-toppage--skill--namezonebtm
        ・Ruby
      .portfolio-toppage--skill--namezone
        フロントエンド
      .portfolio-toppage--skill--namezonebtm
        ・HTML,CSS(Haml,Scss)/JavaScript
      .portfolio-toppage--skill--namezone
        【フレームワーク】
      .portfolio-toppage--skill--namezonebtm
        ・Ruby on Rails/jQuery
      .portfolio-toppage--skill--namezone
        【データベース】
      .portfolio-toppage--skill--namezonebtm
        ・MySQL
      .portfolio-toppage--skill--namezone
        【デプロイ】
      .portfolio-toppage--skill--namezonebtm
        ・AWS/Heroku
      .portfolio-toppage--skill--namezone
        【その他ツール】
      .portfolio-toppage--skill--namezonebtm
        ・VSCode/GitHub/Slack/Torello
    .portfolio-toppage--portfolio
      #portfolio-top
        PORTFOLIO
      .portfolio-toppage--portfolio--form
        .portfolio-toppage--portfolio--form--left
          .portfolio-toppage--portfolio--form--left--title
            memo-search
          .portfolio-toppage--portfolio--form--left--text
            説明文
            .portfolio-toppage--portfolio--form--left--text--text2
              %a{href:"https://github.com/delfin378/memosearch"} 説明文はこちらをクリックして下さい。
          .portfolio-toppage--portfolio--form--left--text
            デプロイ先
          .portfolio-toppage--portfolio--form--left--text
            %a{href:"https://memosearch.herokuapp.com/"}https://memosearch.herokuapp.com/
        .portfolio-toppage--portfolio--form--right
          =image_tag "#{"memosearch1"}",class:"gazou",width:"450px",height:"300px"
      .portfolio-toppage--portfolio--form
        .portfolio-toppage--portfolio--form--left
          =image_tag "#{"Fmarket"}",class:"gazou",width:"450px",height:"300px"
        .portfolio-toppage--portfolio--form--right
          .portfolio-toppage--portfolio--form--right--title
            エフマーケット（チーム開発）
          .portfolio-toppage--portfolio--form--right--text
            説明文:
          .portfolio-toppage--portfolio--form--right--text
            スクール最終課題でチーム開発で行ったアプリです。
            .portfolio-toppage--portfolio--form--right--text--text2
              %a{href:"https://docs.google.com/document/d/1XMkBuJz-3qH9eEixgrpAPlB6QpXMgxo7zT8XetH2Bk0/edit#heading=h.uc9r1bu1xm1f"} 以下の説明文はこちらをクリックして下さい。
          .portfolio-toppage--portfolio--form--right--text
            デプロイ先
          .portfolio-toppage--portfolio--form--right--text
            %a{href:"http://18.176.104.100/"}http://18.176.104.100/
    .portfolio-toppage--contact
      #contact-top
        CONTACT
      .portfolio-toppage--contact--area
        上林 秀天へのお問い合わせは、下記連絡先よりお願いします。
      .portfolio-toppage--contact--area
        興味を持って頂けましたら、メールあるいはtwitterよりDM等で連絡をお願いします。
      .portfolio-toppage--contact--form
        .portfolio-toppage--contact--form--left
          メールアドレス
        .portfolio-toppage--contact--form--right
          type0bs02hd@yahoo.co.jp
      .portfolio-toppage--contact--form
        .portfolio-toppage--contact--form--left
          SNS
        .portfolio-toppage--contact--form--right
          %a{href:"https://twitter.com/finix387"}@finix387
  .portfolio-footer
    .portfolio-header--text
      上林秀天のポートフォリオサイト
    .portfolio-header--main
      My portfolio