.portfolio{
  background-color: lightblue;
  width: 100%;
  height: 3700px;
  .portfolio-space{
    height: 20px;
    width: 100%;
  }
  .portfolio-header{
    width: 92%;
    height: 220px;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 5px;
    &--text{
      text-align: center;
      padding-top: 3px;
      font-size: 12px;
    }
    &--image{
      text-align: center;
      height: 130px;
      .macbook{
        margin-top: 20px;
        max-width: 160px;
        border-radius: 55%;
      }
    }
    &--main{
      text-align: center;
      font-size: 35px;
      font-weight: 600;
    }
    }
  .portfolio-check{
    width: 95%;
    margin: 0 auto;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    #portfolio-check-profile{
      display: inline-block;
      width: 22%;
      cursor: pointer;
    }
    #portfolio-check-skill{
      display: inline-block;
      width: 22%;
      cursor: pointer;
    }
    #portfolio-check-portfolio{
      display: inline-block;
      width: 22%;
      cursor: pointer;
    }
    #portfolio-check-contact{
      display: inline-block;
      width: 22%;
      cursor: pointer;
    }
  }
  .portfolio-toppage{
    width: 92%;
    height: 87%;
    background-color: #fff;
    margin: 0 auto;
    &--profile{
      padding-top: 50px;
      width: 85%;
      margin: 0 auto;
      #profile-top{
        font-weight: 600;
        font-size: 35px;
        padding-bottom: 18px;
        text-decoration: underline;
      }
      .profile-pict{
        margin-top: 10px;
        margin-bottom: 30px;
        .facepict{
          box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
        }
      }
      &--area{
        margin-top: 5px;
        font-size:14px;
        font-weight: 500;
      }
      &--namezone{
      font-size: 24px;
      background: #f5f5f5;
      padding: 0.6429rem 1.5rem;
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 600;
      }
      &--namezonebtm{
        line-height: 2;
        padding-left:10px;
        font-size: 18px;
        }

    }
    &--skill{
    padding-top: 50px;
    width: 85%;
    margin: 0 auto;
    #skill-top{
      font-weight: 600;
      font-size: 35px;
      padding-bottom: 18px;
      text-decoration: underline;
      }
      &--namezone{
        font-size: 25px;
        margin-top: 13px;
        margin-bottom: 10px;
        font-weight: 600;
      }
      &--namezonebtm{
        line-height: 2;
        padding-left:10px;
        font-size: 18px;
        }
    }
    &--portfolio{
      padding-top: 50px;
      width: 85%;
      margin: 0 auto;
      #portfolio-top{
        font-weight: 600;
        font-size: 35px;
        padding-bottom: 18px;
        text-decoration: underline;
        }
      &--form{
        margin-top: 20px;
        height: 350px;
        width: 100%;
        display: inline-block;
        &--left{
          height: 200px;
          width: 47%;
          display: inline-block;
          position: absolute;
          .gazou{
            box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
          }
          &--title{
            font-size: 25px;
            text-decoration: underline;
            margin-bottom: 10px;
          }
          &--text{
            line-height: 34px;
            &--text2{
              margin-bottom: 30px;
            }
          }
        }
        &--right{
          margin-left: 490px;
          width: 47%;
          display: inline-block;
          position: relative;
          .gazou{
            box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
          }
          &--title{
            font-size: 25px;
            text-decoration: underline;
            margin-bottom: 10px;
          }
          &--text{
            line-height: 34px;
            &--text2{
              margin-bottom: 30px;
            }
          }
        }
    }  
    }
    &--contact{
      padding-top: 50px;
      width: 85%;
      margin: 0 auto;
      #contact-top{
        font-weight: 600;
        font-size: 35px;
        padding-bottom: 18px;
        text-decoration: underline;
        }
        &--area{
          font-size: 15px;
        }
        &--form{
          margin-top:10px;
          font-size: 18px;
          margin-bottom: 20px;
        }
    }
  }
  .portfolio-footer{
    margin-top: 30px;
  }
}
